<h2>{{@title}}</h2>

<ul>
    {{!-- 
    Instead of passing the action to the on modifier directly,
     we used the fn helper to pass the person as an argument which our action expects.
       --}}
    {{#each @people as |person|}}
    <li>
        <button type="button" 
        {{on 'click' (fn this.showPerson person)}}>
            {{person}}
        </button>
    </li>
    {{/each}}
</ul>