{{page-title "EmberQuickstart"}}
<h1>PeopleTracker</h1>
{{! The following component displays Ember's default welcome message. }}
{{!-- <WelcomePage /> --}}
 <LinkTo @route="scientists">Scientists</LinkTo>
 <LinkTo @route="programmers" >Programmers</LinkTo>
{{! Feel free to remove this! }}

{{outlet}}